@model List<GetBookingDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon Əməliyyatları</h4>
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success">
				@TempData["SuccessMessage"]
			</div>
		}

		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger">
				@TempData["ErrorMessage"]
			</div>
		}
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Rezervlər</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Rezervlərlə bağlı əməliyyatları aşağıdan görə bilərsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ad Soyad</th>
									<th scope="col">Telefon</th>
									<th scope="col">Rezerv sayı</th>
									<th scope="col">Rezerv tarixi</th>
									<th scope="col">Rezerv statusu</th>
									<th scope="col">Yenile</th>
									<th scope="col">Sil</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td>@item.Name</td>
										<td>@item.Phone</td>
										<td>@item.PersonCount</td>
										<td>@item.Date</td>
										<td>Rezerv Edildi</td>
										<td><a href="/Booking/UpdateBooking/@item.BookingId" class="btn btn-outline-success">Yenilə</a></td>
										<td><a href="/Booking/DeleteBooking/@item.BookingId" class="btn btn-outline-danger">Sil</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Booking/CreateBooking/" class="btn btn-outline-primary">Yeni Rezerv Əlavə Et</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>




