@model List<GetDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Endirimlər Əməliyyatları</h4>
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success">
				@TempData["SuccessMessage"]
			</div>
		}

		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger">
				@TempData["ErrorMessage"]
			</div>
		}
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Endirim Listi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Endirimlər ilə bağlı əməliyyatları aşağıdan görə bilərsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Başlıq</th>
									<th scope="col">Məbləğ</th>
									<th scope="col">Açıqlama</th>
									<th scope="col">Şəkil</th>
									<th scope="col">Yenile</th>
									<th scope="col">Sil</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.DiscountId</td>
										<td>@item.Title</td>
										<td>@item.Amount</td>
										<td>@item.Description</td>
										<td>@item.ImageUrl</td>
										<td><a href="/Discount/UpdateDiscount/@item.DiscountId" class="btn btn-outline-success">Yenilə</a></td>
										<td><a href="/Discount/DeleteDiscount/@item.DiscountId" class="btn btn-outline-danger">Sil</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Discount/CreateDiscount/" class="btn btn-outline-primary">Yeni Endirim Əlavə Et</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

